    /* GENERAL MARKUP STYLES */
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .flex {
        display: flex;
    }
    
    .justify-content-evenly {
        justify-content: space-evenly;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        overflow: auto;
    }
    /* COLOR SCHEME */
    
     :root {
        --var-white: #fff;
        --var-black: ;
        --var-dark: ;
        --var-light: #D0D0D0;
        --var-success: #00A129;
        --var-danger: ;
        --var-warning: ;
        --var-info: ;
        --var-primary: #4F38B4;
        --var-secondary: #E79345;
    }
    
    body {
        overflow-x: hidden;
    }
    /* FONT TYPE */
    
    @import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto&display=swap");
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "PT Sans", sans-serif;
        font-weight: 500;
        line-height: 175%;
    }
    
    a,
    p,
    ul,
    ol,
    li,
    select,
    input,
    textarea,
    option {
        font-family: "Roboto", sans-serif;
        line-height: 150%;
    }
    
    label {
        font-family: "Roboto", sans-serif;
        line-height: 175%;
    }
    /* GENERAL LAYOUT UTILITIES */
    
    @media screen and( max-width:400px) {
        .row.divide-xs-1 {
            grid-template-columns: 100%;
        }
        .row.divide-xs-2 {
            grid-template-columns: 50% 50%;
        }
         :root {
            font-size: 8px;
        }
    }
    
    @media screen and (min-width: 400px) and (max-width: 600px) {
        .row.divide-sm-2 {
            grid-template-columns: 50% 50%;
        }
        .row.divide-sm-1 {
            grid-template-columns: 100%;
        }
         :root {
            font-size: 12px;
        }
    }
    /* SMALL BREAKPOINT */
    
    @media screen and (min-width: 600px) and (max-width: 900px) {
        .row.divide-md-4 {
            grid-template-columns: 25% 25% 25% 25%;
        }
        .row.divide-md-2 {
            grid-template-columns: 50% 50%;
        }
        .row.divide-md-1 {
            grid-template-columns: 100%;
        }
         :root {
            font-size: 12px;
        }
    }
    /* MEDIUM BREAKPOINT */
    
    @media screen and (min-width: 900px) and (max-width: 1200px) {
        .row.divide-lg-6 {
            grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
        }
        .row.divide-lg-4 {
            grid-template-columns: 25% 25% 25% 25%;
        }
        .row.divide-lg-2 {
            grid-template-columns: 50% 50%;
        }
         :root {
            font-size: 14px;
        }
    }
    /* LG BREAKPOINT */
    
    @media screen and (min-width: 1200px) {
        .row.divide-xl-8 {
            grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
        }
        .row.divide-xl-6 {
            grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
        }
        .row.divide-xl-4 {
            grid-template-columns: 25% 25% 25% 25%;
        }
        .row.divide-xl-2 {
            grid-template-columns: 50% 50%;
        }
         :root {
            font-size: 16px;
        }
    }
    
    .row {
        min-height: 50vh;
        width: 100%;
        display: grid;
    }
    
    .col {
        grid-column: auto/auto;
        padding: 2rem;
        display: flex;
        flex-direction: column;
    }
    
    .form-group {
        display: flex;
        flex-direction: column;
    }
    
    input,
    select {
        height: 2.5rem;
        width: 100%;
    }
    
    input[type="search"] {
        background-image: url(../icons/action/search.svg);
        background-position: .5rem;
        background-repeat: no-repeat;
        padding-left: 2.25rem;
        background-size: 1.5rem 1.5rem;
        border-radius: .5rem;
        border: var(--var-light) 1px solid;
    }
    
    .jumbotron,
    .jumbotron-video,
    .jumbotron img,
    .jumbotron .overlay-light {
        height: 125vh;
        width: 100%;
    }
    
    .jumbotron {
        display: flex;
        position: relative;
    }
    
    .jumbotron video {
        object-fit: cover;
    }
    
    .jumbotron img {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
    }
    
    .jumbotron .overlay-light {
        background: linear-gradient(rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 100%) position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        z-index: 10;
    }
    
    .title {
        font-size: 3.5rem;
    }
    /* JUMBOTRON WELCOME */
    
    #welcome video {
        z-index: 2;
        object-fit: cover;
        height: 100%;
        width: 100%;
        opacity: 0;
    }
    /* POSITION */
    
    .fixed {
        position: fixed;
    }
    /* NAVBAR */
    
    nav {
        display: flex;
        width: 100%;
        z-index: 100;
        justify-content: space-evenly;
        padding: 1rem;
        background-color: none;
        position: absolute;
    }
    
    nav ul {
        list-style-type: none;
        display: flex;
        align-items: center;
    }
    
    nav .nav-brand {
        height: 4rem;
        width: 10rem;
    }
    
    nav ul:last-child {
        margin-left: auto;
    }
    
    @media screen and (max-width: 900px) {
        nav ul#search-form-container {
            display: none;
        }
        nav ul#nav-brand-container {
            margin-left: auto;
        }
        nav ul {
            justify-content: center;
        }
        nav ul li:nth-child(2) {
            justify-content: center;
            display: flex;
        }
    }
    
    @media screen and (min-width: 900px) {
        nav ul li#menu-open {
            display: none;
        }
    }
    
    nav ul#search-form-container {
        width: 50%;
        margin-left: 2rem;
    }
    
    nav ul#search-form-container li {
        width: 100%;
    }
    
    #menu-open img,
    .menu-close img,
    #shopping-cart img {
        cursor: pointer;
        height: 2.5rem;
        width: 2.5rem;
        position: relative;
    }
    
    #menu,
    #shopping-cart-menu {
        height: 100vh;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        z-index: 20;
        transition: all 0.8s ease-in-out;
        background-color: var(--var-white);
    }
    
    #menu ul,
    #shopping-cart-menu ul {
        list-style-type: none;
        margin: 1rem;
    }
    
    #menu ul:nth-child(2),
    #shopping-cart-menu ul:nth-child(2) {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    @media screen and (max-width: 400px) {
        #menu,
        #shopping-cart-menu {
            width: 100vw;
        }
        #menu.opened {
            left: 0;
        }
        #shopping-cart-menu.opened {
            right: 0;
        }
        #menu.closed {
            left: -100vw;
        }
        #shopping-cart-menu.closed {
            right: -100vw;
        }
    }
    
    @media screen and (min-width: 400px) and (max-width: 900px) {
        #menu,
        #shopping-cart-menu {
            width: 66vw;
        }
        #menu.opened {
            left: 0;
        }
        #shopping-cart-menu.opened {
            right: 0;
        }
        #menu.closed {
            left: -66vw;
        }
        #shopping-cart-menu.closed {
            right: -66vw;
        }
    }
    
    @media screen and (min-width: 900px) {
        #menu,
        #shopping-cart-menu {
            width: 33vw;
        }
        #menu.opened {
            left: 0;
        }
        #shopping-cart-menu.opened {
            right: 0;
        }
        #menu.closed {
            left: -33vw;
        }
        #shopping-cart-menu.closed {
            right: -33vw;
        }
    }
    /* FORMS */
    
    form.form-inline {
        display: flex;
        width: 100%;
    }
    /* BUTTONS */
    
    .btn {
        border: none;
        border-radius: 0.5rem;
        color: var(--var-white);
        cursor: pointer;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btn-success {
        background-color: var(--var-success);
    }
    
    .btn.btn-sm {
        min-width: 6rem;
        font-size: 1rem;
    }
    
    .btn.btn-lg {
        min-height: 3.5rem;
        font-size: 1.5rem;
        width: 100%;
    }
    /* MARGINS */
    /* MARGIN LEFT */
    
    .ml-1 {
        margin-left: 0.5rem;
    }
    
    .ml-2 {
        margin-left: 1rem;
    }
    
    .ml-3 {
        margin-left: 1.5rem;
    }
    
    .ml-4 {
        margin-left: 2rem;
    }
    
    .ml-5 {
        margin-left: 2.5rem;
    }
    /* MARGIN RIGHT */
    
    .mr-1 {
        margin-right: 0.5rem;
    }
    
    .mr-2 {
        margin-right: 1rem;
    }
    
    .mr-3 {
        margin-right: 1.5rem;
    }
    
    .mr-4 {
        margin-right: 2rem;
    }
    
    .mr-5 {
        margin-right: 2.5rem;
    }
    /* MARGIN TOP */
    
    .mt-1 {
        margin-top: 0.5rem;
    }
    
    .mt-2 {
        margin-top: 1rem;
    }
    
    .mt-3 {
        margin-top: 1.5rem;
    }
    
    .mt-4 {
        margin-top: 2rem;
    }
    
    .mt-5 {
        margin-top: 2.5rem;
    }
    /* MARGIN BOTTOM */
    
    .mb-1 {
        margin-bottom: 0.5rem;
    }
    
    .mb-2 {
        margin-bottom: 1rem;
    }
    
    .mb-3 {
        margin-bottom: 1.5rem;
    }
    
    .mb-4 {
        margin-bottom: 2rem;
    }
    
    .mb-5 {
        margin-bottom: 2.5rem;
    }
    /* MARGIN BOTTOM + TOP */
    
    .my-1 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    
    .my-2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .my-3 {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    
    .my-4 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    .my-5 {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
    /* MARGIN LEFT + RIGHT */
    
    .mx-1 {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    
    .mx-2 {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .mx-3 {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    
    .mx-4 {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    
    .mx-5 {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
    /* MARGIN ALL AROUND */
    
    .m-1 {
        margin: 0.5rem;
    }
    
    .m-2 {
        margin: 1rem;
    }
    
    .m-3 {
        margin: 1.5rem;
    }
    
    .m-4 {
        margin: 2rem;
    }
    
    .m-5 {
        margin: 2.5rem;
    }
    /* PADDING ALL AROUND */
    
    .p-1 {
        padding: 0.5rem;
    }
    
    .p-2 {
        padding: 1rem;
    }
    
    .p-3 {
        padding: 1.5rem;
    }
    
    .p-4 {
        padding: 2rem;
    }
    
    .p-5 {
        padding: 2.5rem;
    }
    /* PADDING LEFT + RIGHT */
    
    .px-1 {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    
    .px-2 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .px-3 {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    
    .px-4 {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    .px-5 {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    /* SIZING UTILITIES */
    
    .w-0 {
        width: 0;
    }
    
    .w-25 {
        width: 25%;
    }
    
    .w-33 {
        width: 33%;
    }
    
    .w-50 {
        width: 50%;
    }
    
    .w-75 {
        width: 75%;
    }
    
    .w-100 {
        width: 100%;
    }
    
    .badge-shopping-cart {
        height: 1.5rem;
        width: 1.5rem;
        background-color: var(--var-primary);
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        border-radius: 50%;
    }
    /* FONT COLORS */
    
    .font-white {
        color: var(--var-white);
    }
    
    .link-product {
        color: var(--var-white);
        font-size: 1.5rem;
        text-align: left;
    }
    /* IMAGES */
    
    #empty-basket {
        height: 25rem;
        width: 15rem;
        margin-top: auto;
    }